li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

.img {
    content:url(https://www.vhv.rs/dpng/d/13-134736_burger-png-hd-transparent-png.png);
}
  
  