body {
  font-family: 'Shrikhand', cursive;
  background-color: #faebd7;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

button{
  background-color: #f5dd06;
}


li {
    padding: 5px;
    margin: 5px;
    color: black;
   }

button {
  color: black;
}
  
  .label {
    font-weight: bold;
    color: black;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    color: black;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 5px;
    color: black;
  }

  .addBurger {
    text-align: center;
  }

.img {
    content:url("../Cheeseburger-with-lettuce-png-image.png");
    align-items: center;
    width: 100%;
}

/* .bottom {
  align-items: center;
} */
  
  